// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

.row.body {
  padding: 25px;
}
.nav.nav-tabs:hover, .nav.nav-tabs *:hover {
  cursor:pointer;
}

.nav.navbar-nav.navbar-left a {
  color: #FFFFFF;
}

.nav.navbar-nav.navbar-left a:hover {
  color: #CCC;
}

img.navbar-brand {
  padding:0;
  margin:0;
  width:auto;
  max-height:inherit;
}

.container.mine {
  padding: 0;
  background-color: #FFF;
  padding-bottom: 5%;
}

.col-xs-8.sub-container, .col-xs-4.sub-container {
  padding: 0;
}

img {
  margin: 4px;
}

ul.errors {
  float:none;
  margin: 0 auto;
}

li.errors{
  color: red;
}

body.background {
  background-color: lightgrey;
}

.dropdown img {
  padding: 0;
}
.profile-pic {
  max-height: 50px;
  max-width: 50px;
  width:auto;
  height: auto;
  float: left;
}

.upload-pic {
  float: left;
}

.ingredients-list {
  list-style: none;
}

ul.instructions-list {
  list-style: decimal;
}

li.inst-list-item {
  list-style: decimal;
}
.dropdown-menu.mine {
  top: 50px;
}

li {
  list-style:none;
}

.thumbnail.mine {
  max-height: 50px;
  max-width: 250px;
  width:auto;
  height: auto;
  padding: 0;
}

.list-group-item {
  min-height: 82px;
}

.recipe-pic {
  max-height: 250px;
  max-width: 250px;
  width:auto;
  height: auto;
}

.list-group-item.family-index-item {
  position: relative;
  padding:0;
}

.list-group-item.family-index-item:hover,
.list-group-item.recipe-item:hover,
.list-group-item.requests:hover {
  cursor:pointer;
  background-color: gray;
}

.glyphicon.glyphicon-remove {
  position: absolute;
  top: 10px;
  right: 10px;
}

.glyphicon.glyphicon-remove:hover {
  cursor:pointer;
}
.glyphicon.glyphicon-remove-circle {
  float:left;
  vertical-align: middle;
  color: red;
}
.row.pictures {
  padding:5px;
}

.col-xs-4.pictures {
  padding:0;
  overflow: hidden;
}
.col-xs-4.pictures img {
  max-width: none;
}
.col-xs-3.admin {
  float:right;
  color: #AAA;
  margin-top:11px;
  padding:0;
}

.col-xs-3.adminize {
  float:right;
  color: green;
  padding:0;
  margin-top:11px;
}

.navbar-default.mine {
  background-color: #501515;
}

.recipe-item *:hover, .family-index-item *:hover, .requests *:hover {
  cursor:pointer;
}

.nav-tabs > li.active > a{
  background-color: #999999;
}

.family-index-item::after {
  content:"";
  clear:both;
}

.family-index-item > div, img {
  float:left;
  height: 100%;
}

.selected-family.list-group-item {
  background-color: grey;
}

.hidden-modal {
  display: none;
}

.tag-list {
  list-style: none;
  color: red;
  overflow: auto;
}

.tag-list li {
  float: left;
  padding: 2px;
  border: 1px solid lightgrey;
}

#modal {
  display: block;
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: grey;
  background: rgba(0, 0, 0, 0.4);
}

.modal-show {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  display: block;
  background-color: white;
  opacity: 1;
  margin: 50px;
  padding: 10px;
}

#recipe-form {
  max-height: 600px;
  overflow-y: auto;
  padding: 10px;
  bottom: 50px
}
