// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-pic {
  max-height: 50px;
  max-width: 50px;
  width:auto;
  height: auto;
  float: left;
}

.upload-pic {
  float: left;
}

.ingredients-list {
  list-style: none;
}

.instructions-list {
  list-style: decimal;
}



// for some reason this collapses the li height.
// so I have bullets or unreadable.
// li {
//   list-style:none;
// }

.thumbnail {
  max-height: 50px;
  max-width: 50px;
  width:auto;
  height: auto;
}

.family-index-item {
  position: relative;
  // float:left
}

.family-index-item::after {
  content:"";
  clear:both;
}

.family-index-item > div, img {
  float:left;
  height: 100%;
}

.selected-family {
  background-color: grey;
}

.hidden-modal {
  display: none;
}

// .container-fluid {
//   background-color: darkred;
// }

#modal {
  display: block;
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:100px;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: grey;
  background: rgba(0, 0, 0, 0.4);
}

#modal>div {
  max-height: 600px;
  overflow-y: auto;
  display: block;
  background-color: white;
  opacity: 1;
  margin: 50px;
  bottom: 50px;
}
#recipe-form {
  max-height: 600px;
  overflow-y: auto;
  padding: 10px;
  bottom: 50px
}

// :hover {
//   background-color: grey
// }
